[Unit]
Description = Mount personal document storage volume

[Mount]
What=moria.ip.cloudyhome.net:/mnt/zpool0/Document/Sujoy
Where=/mnt/personal
Type=nfs
Options=defaults,nfsvers=4,proto=tcp
TimeoutSec=5

[Install]
WantedBy=multi-user.target
