- name: update and install required AUR packages
  become: false
  block:
    - name: install yay from arch user repository (aur)
      kewlfft.aur.aur:
        name: yay
        use: makepkg
        state: present

    - name: install aur packages using yay
      kewlfft.aur.aur:
        use: yay
        state: present
        name: "{{ aur_packages }}"

    - name: upgrade the system using yay, only act on AUR packages.
      kewlfft.aur.aur:
        upgrade: true
        use: yay
        aur_only: true
